BRABUS_STORE_IMAGE=ghcr.io/melojrx/brabus_store@sha256:replace-with-64-lowercase-hex-digest
POSTGRES_DB=brabustore
POSTGRES_USER=brabustore
DATABASE_HOST=postgres
DATABASE_PORT=5432
NEXTAUTH_URL=https://brabustore.com.br
AUTH_TRUST_HOST=true
ONLINE_SALES_ENABLED=false
